@import '../../../styles/colors.scss';

.nav{
    padding-top: 20px;
    gap: 50px;
    display: flex;
    justify-content: center;

    &_link{
        font-size: 45px;
        color: $text-color;
        text-decoration: none;
        text-align: center;
        position: relative;
        transition: all 2s;

        &:after{
            position: absolute;
            content: '';
            height: 2px;
            width: 50%;
            background: $text-color;
            
            top: 90%;
            z-index: -1;
            left: 25%;
            
        };

        &:hover{
            
            color: rgb(68, 8, 207);
        };
        
    }
}