@import '../../styles/colors.scss';

.header_title{
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 2%;
    font-weight: 700;
}

.home_links{
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    gap: 10px;
    &_item{
        font-weight: 400;
        border: 3px solid $text-color;
        padding:10px 15px;
        min-width: 240px;
        border-radius: calc(240px/6);
        color: $text-color;
        text-decoration: none;
        text-align: center;
        transition: color 1s, background-color 0.8s;
        &:hover{
            color: $button-hover-text;
            background-color:$button-hover-bg ;
        }
    }
    cursor: pointer;
}