@import '../../styles/colors.scss';

.password {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 0 0;
    font-size: 35px;
    gap: 2px;
    
    &_title {
        text-align: center;
        padding-top: 20px;
        font-size: 60px;
        font-weight: bold;
        text-transform: uppercase;
    }
    &_preference{
        display: flex;
        gap:5px;
        &_range {
            display: flex;
            align-items: center;
        }


    }
    &_item{
        padding: 10px;
        border: 1px  solid $text-color;
        border-radius: 2px;
    }
}

.button{
    padding-top: 5px;
}
