@import '../../../styles/colors.scss';

.nav {
    width: 100%;
    display: flex;
    // position: fixed;
    justify-content: space-around;
    padding: 10px 0 10px 0;
    background-color: rgba(11, 93, 152, 0.452);
    align-items: center;
}

.title {
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    position: relative;
    transition: all 0.7s;

    &:hover {
        color: rgb(68, 8, 207);
    }
}

.name{
    font-size: 20px;
    padding-top: 7px;
    color: rgb(255, 255, 255);
}

.buttons{
    display: flex;
    gap: 5px;
}

.button{
    padding: 5px;
    border: 1px solid;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    font-family: 'JosefinSans';
    color: rgb(0, 0, 0);
    background-color: $button-text-color;
    transition: all 0.5s;
    &:hover {
        color: $button-text-color;
        background-color: rgb(0, 0, 0);
    }
}