

.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    pointer-events: none;
    display: none;
    &_active{
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: all;
    
    }
}

.myModalContent{
    padding: 25px;
    background: #fff;
    border-radius: 16px;
    min-width: 250px;
    &_active{
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: all;
    
    }
}

