@font-face {
    font-family: 'JosefinSans';
    font-weight: 200;
    src: url('fonts/JosefinSans-ExtraLight.ttf');
}

@font-face {
    font-family: 'JosefinSans';
    font-weight: 400;
    src: url('fonts/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: 'JosefinSans';
    font-weight: 700;
    src: url('fonts/JosefinSans-Bold.ttf');
}
