@import '../../../styles/colors.scss';

.button{
    border: 1px solid $text-color;
    font-size: 20px;
    border-radius: calc(240px/6);
    transition: color 1s, background-color 0.8s;
    cursor: pointer;
    font-family: 'JosefinSans';
    padding: 5px;
    &:hover{
        color: $button-hover-text;
        background-color:$button-hover-bg ;
    }


}