.collection{
    padding-top: 20px;
}

.header{
    text-align: center;
    font-size:60px;
    font-weight: 700;
}

.main{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid ;
    border-left: none;
    border-radius: 10px;
    width: 20%;
}
.content{
    width: 30%;
    padding-left: 1%;
}

.footer{

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width: 100%;

}